.book-card {
  background-color: #efefef;
  /* height: 400px; */
}

.book-card-image-frame {
  max-width: 220px;
  max-height: 312px;
  overflow: hidden;
}

.book-card-image {
  max-height: 312px;
  transform: translate(-33%, 0);
}

.book-title {
  font-size: medium;
  margin: 0.5rem;
}

.book-description {
  font-size: x-small;
  margin: 0.5rem;
}
